.users{
    padding: 3vh 3vw;
}

.users .title{
    margin-top: 30px;
}

.users .page-content{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.users .page-content .manage-user{
    width: 30%;
}

.users .manage-user{
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}

.users .manage-user button{
    background: rgb(59, 59, 59);
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 3px;
}

.users .page-content .user-list{
    width: 65%;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
}